@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
textarea,
input,
label {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101415;
}
#root {
  background-color: #101415;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
}

/* Agrega las clases específicas para la animación cinematic */
@keyframes wipe-cinematic-in {
  0% {
    clip-path: inset(100% 0 100% 0);
  }

  30%,
  70% {
    clip-path: inset(10% 0 10% 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:cinematic"] {
  animation-name: wipe-cinematic-in;
}

@keyframes wipe-cinematic-out {
  0% {
    clip-path: inset(0 0 0 0);
  }

  30%,
  70% {
    clip-path: inset(10% 0 10% 0);
  }

  100% {
    clip-path: inset(100% 0 100% 0);
  }
}

[transition-style="out:wipe:cinematic"] {
  animation-name: wipe-cinematic-out;
}