@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
textarea,
input,
label {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #0b1623;
  width: 100vw;
  height: 100vh;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease;
}
